{{this.model.personStatus}}
{{#if this.model.isPersonStatusTwo}}
  Person Status Is Two
{{else}}
  Person Status Ain't Two
{{/if}}
<button onclick={{this.changeStatusToTwo}}>
  Change Status to 2
</button>